@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre:wght@700&display=swap');

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h5 {
    margin: 1rem;
    font-family: 'Frank Ruhl Libre', serif;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.2rem;
}

h5 {
    font-size: 1.4rem;
}

p {
    margin: 1rem;
    font-size: .9rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

label {
    margin: .5rem;
    font-size: 1.1rem;
    line-height: 1.2rem;
    color: #ffffff;
}

input {
    margin: .5rem 0 .7rem 0;
    border: none;
    border-radius: .2rem;
    padding: .5rem;
    width: 95%;
}

textarea {
    margin: .5rem 0 .7rem 0;
    border: none;
    border-radius: .2rem;
    padding: .5rem;
    width: 95%;
    min-height: 11rem;
}

textarea::placeholder {
    color: #000000;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-top: .5rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.item {
    text-align: center;
    margin: 0;
}

.highlight-text {
    color: #ffffff;
}

.btn {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Fira Sans', sans-serif;
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: .9rem 2.5rem;
    border: none;
    border-radius: 2.5rem;
}

.cta-btn {
    margin: 7% 1rem;
}

/* Flex items */

.main {
    background-color: #C7DDEA;
    text-align: left;
}

.main p {
    width: 70%;
    margin-left: 1.3rem;
}

.main img {
    margin-right: 1rem;
}

.learn-more {
    background-color: #F17949;
    padding: 25% 22%;
}

.learn-more h5 {
    font-size: .8rem;
}

.learn-more h2,
.join-today h2 {
    font-size: 2.1rem;
}

.join-today {
    background-color: #FAB131;
    padding: 25%;
}

.join-today h5 {
    font-size: .8rem;
}

.info {
    background-color: #A9A19E;
    text-align: left;
}

.about {
    background-color: #FAB131;
}

.about p {
    margin: 0 3rem 3rem 3rem;
}

.contact-form-container {
    text-align: left;
    background-color:#A1A1A1;
    padding-bottom: 10rem;
    margin-bottom: -10%;
}

.contact-form {
    margin: 1rem;
}

.submit-btn {
    float: right;
    margin: 2rem 2.5%;
    width: 50%;
}

.come-visit {
    text-align: left;
    background-color: #FAB131;
    padding: 10%;
}

.map {
    background-color: #1e1e1e;
    padding-bottom: 10rem;
}

/* Cards */

.card {
    height: 18rem;
    width: 18rem;
    margin: 15% 10% 15% 10%;
    background-color: #ffffff;
    padding: 0 0 15% 0;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
    height: 8rem;
    width: 5rem;
    object-fit: cover;
    margin-top: -10%;
    padding: 5% 32% 0 32%;
    border-radius: 0.3rem;
}

.child-img {
    object-position: -10% -5%;
    background-color: #C7DDEA;
}

.adult-img {
    object-position: -10% -5%;
    background-color: #FAB131;
}

.old-img {
    object-position: -10% -50%;
    background-color: #F17949;
}

.card p {
    font-size: .8rem;
    margin: 0 .35rem;
    padding: 0 1rem;
}

.hiw-card {
    padding: 15%;
}

.hiw-card > .number {
    margin: -15%;
    text-align: left;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.4rem;
    color: #A1A1A1;
}

.hiw-card > h4 {
    margin-top: 25%;
    font-size: 1.2rem;
}

#first {
    background-color: #C7DDEA;
}

#first p {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.7rem;
    line-height: 2.4rem;
}

#third {
    background-color: #EBEBEB;
}

#fifth {
    background-color: #F17949;
}

#fifth .number {
    color:rgba(0, 0, 0, 0.4)
}

/* Images */

.family-img {
    max-height: 50vh;
    max-width: 50vw;
    float: right;
}

/* Nav bar */
.nav {
    display: none;
}

/* Footer */

.back-to-top {
    text-align: center;
    background-color: #A9A19E;
    padding: 1rem 0 2.5rem 0;
}

.back-to-top a {
    font-size: 1.2rem;
}

.up-arr {
    font-size: 2rem;
    margin-bottom: -1rem;
}

.footer {
    background-color: #777574;
    padding: 50px;
    margin-top: -1rem;
}

